
/*——————————————
Global
———————————————*/
* {
  list-style: none;
  text-decoration: none;
  font: normal bold 14px/1.9 '游ゴシック体', 'Yu Gothic', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Osaka', 'ＭＳ Ｐゴシック', sans-serif;
  box-sizing: border-box;
  max-width: 100%;
}


/* リンク */
a {
  letter-spacing: 0.13em;
  /* color: #6192b8; */
  color: #0277bc;
 }

 a:hover {
  color: #ebe2e2;
}

body {
  margin: 0;
  padding: 0;
}


/* ヘッダー */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  margin: auto;
  position: relative;
  background-color: #2c3e50;
  /* background-color: #0277bc; */
  /* background-color: rgba(219, 219, 219, 1); */

  z-index: 7;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 0; 

}

.menu li {
  float: left;
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.menu a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
a.active {
  background-color: #e74c3c;
  pointer-events: none;
}
li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}
.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
  left: 0;
  background-color: #3498db;
}
.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
  left: 25%;
  background-color: #9b59b6;
}
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
  left: 50%;
  background-color: #e67e22;
}
.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
  left: 75%;
  background-color: #16a085;
}

.header-title {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}

h1 {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}

/* スライドショー */
.slideshow {
  position: relative;
  width: 416px;
  height: 300px;
  padding: 0;
  margin: 1rem auto;
  box-sizing: unset;
  /* border: 5px solid black; */
  /* border-radius: 90px; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slideshow .slide {
  width: 416px;
  height: 234px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.slideshow .slide img {
  padding: 0;
  margin: 0;
  width: 416px;
  height: 234px;
}

.slideshow .slide ul {
  width: 1248px;
  height: 234px;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  font-size: 0;
  position: relative;
}
.slideshow .slide li {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  transition: 0.7s cubic-bezier(0.45, 0.06, 0.32, 1);
}

.slide li:nth-of-type(1) {
  left: -416px;
}
.slide li:nth-of-type(2) {
  left: 0px;
}
.slide li:nth-of-type(3) {
  left: 416px;
}

.controller {
  display: flex;
  width: 100%;
  height: 65px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    rgba(219, 219, 219, 1) 10px,
    rgba(219, 219, 219, 1) 19px
  );
}
.controller .prev-btn {
  margin-left: 3rem;
  cursor: pointer;
  color: #181818;
}
.controller .next-btn {
  margin-right: 3rem;
  cursor: pointer;
  color: #181818;
}

.controller .indicator {
  display: flex;
  width: 80px;
  height: 16px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background: #181818;
  border-radius: 10px;
}

.indicator span {
  width: 8px;
  height: 8px;
  background: whitesmoke;
  border-radius: 50%;
  padding: 0;
  margin: 0 4px 0 4px;
}

#active {
  background:  #e74c3c;
}
/* スライドショー */

/*——————————————
TimeLine CSS
———————————————*/
/* Base */

#content {
  margin-top: 50px;
  text-align: center;
}

section.timeline-outer {
  width: 80%;
  margin: 0 auto;
}

/* h1.header {
  font-size: 50px;
  line-height: 70px;
} */



/* Timeline */

.timeline {
  /* border-left: 8px solid #42A5F5; */
  border-left: 8px solid #0277bc;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;

  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 20px;
  list-style: none;
  text-align: left;
}

.timeline h1,
.timeline h2,
.timeline h3 {
  font-size: 1.4em;
}

.timeline .event {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -177.5px;
  color: #212121;
  content: attr(data-date);
  text-align: right;
  /*  font-weight: 100;*/
  
  font-size: 16px;
  min-width: 120px;
}

.timeline .event:after {
  /* box-shadow: 0 0 0 8px #42A5F5; */
  box-shadow: 0 0 0 8px #0277bc;
  left: -30px;
  background: #212121;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
/**/



/*——————————————
Responsive Stuff
———————————————*/

@media (max-width: 945px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }
}

@media (max-width: 768px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline .event:nth-child(1)::before,
  .timeline .event:nth-child(3)::before,
  .timeline .event:nth-child(5)::before {
    top: 38px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
}
/*——————————————
others
———————————————*/

a.portfolio-link {
  margin: 0 auto;
  display: block;
  text-align: center;
}



.view-sixth {
  display: flex;
  margin-bottom: 20px;
}
.thumbnail {
  width: 150px;
  height: 150px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
} 



.timeline p {
  padding-top: 0px;
  padding-bottom: 0px;
}

.timeline a {
  padding-top: 0;
  margin-top: 0;
}



.mask {
  font-size: 0.8rem;
  margin-left: 15px;
  margin-top: 0;
}

.mask p {
  font-size: 0.8rem;
}


h6 {
  text-align: center;
  background-color: #2c3e50;
  font-size: 18px;
}



/* ボタン全体 */
.flowbtn12{
  font-family:'Verdana',sans-serif;	
  border-radius: 4px;
  display:inline-block;
  width:90%;
  font-size:20px;
  transition:.4s;	
  text-decoration:none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  /* ボタン内テキストマウスホバー時 */
  .flowbtn12:hover{
  color:#fff!important;
  text-decoration:none;
  }
  /* Twitter */
  .flowbtn12.fl_tw2{
  border:solid 1px #55acee;
  color:#55acee;
  }
  /* Twitterマウスホバー時 */
  .flowbtn12.fl_tw2:hover{
  border:solid 1px #55acee;
  background:#55acee;
  }
  /* Instagram */
  .flowbtn12.insta_btn2{
  border:solid 1px #c6529a;
  color:#c6529a;
  }
  /* Instagramマウスホバー時 */
  .flowbtn12.insta_btn2:hover{
  border:solid 1px #c6529a;
  background:#c6529a;
  }
 
  
  /* YouTube */
  .flowbtn12.fl_yu2{
  border:solid 1px #fc0d1c;
  color:#fc0d1c;
  }
  /* YouTubeマウスホバー時 */
  .flowbtn12.fl_yu2:hover{
  border:solid 1px #fc0d1c;
  background:#fc0d1c;
  }
  
  /* メールアイコン */
  .flowbtn12.fl_ma2{
  border:solid 1px #f3981d;
  color:#f3981d;
  }
  /* メールアイコンマウスホバー時 */
  .flowbtn12.fl_ma2:hover{
  border:solid 1px #f3981d;
  background:#f3981d;
  }
  
  
  
  /* ボタン内テキスト調整 */
  .flowbtn12 span{
  font-size:14px;	
  position:relative;
  left:8px;
  bottom:2px;	
  }
  /* ulタグの内側余白を０にする */
  ul.snsbtniti2{
  padding:0!important;
  }
  /* ボタン全体の位置 */
  .snsbtniti2{
  display:flex;
  flex-flow:row wrap;
  }
  /* ボタン同士の余白 */
  .snsbtniti2 li{
  flex:0 0 48%;
  text-align:center !important;
  padding-top: 10px;
  }




  .btn-border {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #0277bc;
    font-size: 16px;
    color: #0277bc;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    margin-left: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .btn-border:hover {
    background-color: #0277bc;
    color: #FFF;
  }

  .live-reservation {
    display: flex;

  }


  


 /* 上に戻る */
  #page-top {
    font-size: 0;
    position: fixed;
    bottom: 2rem;
    right: 2.5rem;
    opacity: 0;
  }
  #page-top.fade-in {
    color: #e74c3c;
    font-size: 60px;
    opacity: 0.6;
    text-decoration: none;
    transition: opacity 1s;
  }







